
[Unit]
Description=m2ag.labs device api
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/m2ag-sqlite-remote
ExecStart=python3 api.py
Restart=always

[Install]
WantedBy=multi-user.target